html, body {
    background: #EDF2EC;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    font-family: 'Inika';
    color: #010201;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 109px;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 578px;
    margin-right: 109px;
    font-family: 'lnika';
    font-style: normal;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.plants {
    display: flex;
    align-items: center;
    font-family: 'Inika';
}

.nav-item {
    margin-right: 35px;
    margin-left: 7px;
    display: list-item;
}

.nav-link {
    text-decoration: none;
    color:#010201;
}

.nav-link1 {
    text-decoration: none;
    color:#E06733;

}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 109px;
    font-family: 'Inter';
}

.welcome .leafs {
    width: 37%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
}

#text1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

#text1 .plants {
    color: #499A18;
}

#text2 {
    margin-top: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.start {
    display:block;
    padding: 14px 27px;
    margin-top: 48px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: inherit;
}

.button {
    display:block;
    padding: 14px 27px;
    margin-top: 48px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: inherit;
}

.service_content {
    display: flex;
    flex-direction: row;
}

.service_and {
    padding: 0px;
}

.services_button {
    flex-direction: row;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 62px 109px;
}

.houseplant {
    width: 30%;
}

.service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.service_item {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Inter';
    background: white;

}
.footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 109px;
}
.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 109px;
}



