@font-face {
    font-family:'Inika-Regular';
    src: url(./fonts/Inika-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family:'Inter-Regular';
    src: url(./fonts/Inter-Regular.ttf);
    font-style: normal;
}

html, body {
    background: #EDF2EC;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    font-family:'Inika-Regular';
    color: #010201;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 109px;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-left: 578px;
    margin-right: 109px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.plants {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 35px;
    margin-left: 7px;
    display: list-item;
}

.nav-link {
    text-decoration: none;
    color:#010201;
}

.nav-link1 {
    text-decoration: none;
    color:#E06733;

}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 109px;
}

.welcome .leafs {
    width: 37%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
    font-family:'Inter-Regular';
}

#text1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
    font-family:'Inter-Regular';
}

.green {
    color: #499A18;
}

#text2 {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    font-family:'Inter-Regular';
}

.start {
    display:block;
    padding: 14px 27px;
    margin-top: 48px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: inherit;
}

.button {
    display:block;
    padding: 10px 27px;
    margin-top: 60px;
    border: 2px solid #E06733;
    border-radius: 8px;
    background-color: inherit;
    color: #E06733;
    margin-left: 30px;
}

.service_content {
    display: flex;
    flex-wrap: wrap;
}

.services_buttons {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 60px;
    font-family:'Inika-Regular';
}

.about_us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 62px 109px;
    color: #499A18;
    font-family:'Inika-Regular';
}

.abous_text {
    font-weight: 400;
    font-size: 40px;
}

.about2 {
    font-size: 20px;
    color:#636060;
    font-family:'Inter-Regular';
}

.red {
    color:#E06733;
}

.houseplant {
    width: 30%;
}

.service {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 62px 109px;
}

.service_and {
    padding: 0px;
    font-weight: 400;
    line-height: 52px;
    font-family:'Inika-Regular';
    font-size: 40px;
    color: #499A18;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_item {
    display: flex;
    flex-direction: column;
}

.Prices {
    display: flex;
    flex-wrap: wrap;
    padding: 62px 109px;
    background: white;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    padding: 62px 109px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Inter';
    background: white;
    font-size: 20px;
    font-family:'Inter-Regular';
}

.contact_us {
    padding: 0px;
    font-weight: 700;
    font-family:'Inika-Regular';
    font-size: 30px;
    color: #499A18;
}

.button2 {
    display:block;
    padding: 10px 27px;
    margin-top: 150px;
    border: 2px solid #E06733;
    border-radius: 8px;
    background-color: inherit;
    color: #E06733;
    margin-left: 30px;
}

.text_call_us {
    display: flex;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 109px;
}

.rsschool {
    color:#010201;
    text-decoration: none;
}

a {
    padding: 1px;
}

.inst_1 {
    padding: 10px;
}

.fb_1 {
    padding: 10px;
}

.tw_1 {
    padding: 10px;
}

.pinterest_1 {
    padding: 10px;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 109px;
}



